
<fa name="star" [ngClass]="isUnderHovered(1) ? 'active-star' : 'inactive-star'" (mouseenter)="onMouseEnter(1)" (mouseleave)="onMouseLeave(1)"></fa>
<fa name="star" [ngClass]="isUnderHovered(2) ? 'active-star' : 'inactive-star'" (mouseenter)="onMouseEnter(2)" (mouseleave)="onMouseLeave(2)"></fa>
<fa name="star" [ngClass]="isUnderHovered(3) ? 'active-star' : 'inactive-star'" (mouseenter)="onMouseEnter(3)" (mouseleave)="onMouseLeave(3)"></fa>
<fa name="star" [ngClass]="isUnderHovered(4) ? 'active-star' : 'inactive-star'" (mouseenter)="onMouseEnter(4)" (mouseleave)="onMouseLeave(4)"></fa>
<fa name="star" [ngClass]="isUnderHovered(5) ? 'active-star' : 'inactive-star'" (mouseenter)="onMouseEnter(5)" (mouseleave)="onMouseLeave(5)"></fa>
