
    <td>
        <img 
        src="https://images.igdb.com/igdb/image/upload/t_cover_big/{{game.cover.image_id}}.jpg" 
        alt="{{game.name}}"
        class="img-responsive">
    </td>
    <td class="vmiddle"><h3 class="vmiddle-content">{{game.name}}</h3></td>
    <td class="vmiddle"><h3 class="vmiddle-content">
        <small 
            *ngFor="let involved_company of game.involved_companies" >
            {{involved_company.company.name}}
        </small>
    </h3></td>
    <td class="vmiddle stars"><app-stars class="vmiddle-content"></app-stars></td>
